/*@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
	font-family: 'Comfortaa', cursive; Для заговоков
	font-family: 'Nunito', sans-serif; Для обычного текста

html {
	margin: 0;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}
a:hover {
	color: #2b2b2b;
	font-weight: 700;
}*/

body {
	color: #FEFEFE;
	background-color: #222134;
}
/*
.wrapper {
	display: flex;
	justify-content: space-between;
}
.title h1 {
	font-family: 'Comfortaa', cursive;
	font-size: 20pt;
	font-weight: 700;
	color: #000;
	padding-left: 30px;
	padding-top: 15px;
}

h2 {
	font-family: 'Comfortaa', cursive;
	font-weight: 600;
	margin-bottom: 50px;
}*/