a {
	color: #FEFEFE;
}
a:hover {
	color: #dbdbdb;
}

body {
	color: #FEFEFE;
	background-color: #222134;
}

.wrapper::before {
	transform: rotate(-36deg);
    top: 29px;
    left: 30px;
}

.title {
	color: #000/*#FEFEFE*/;
}

.square {	
	top: -54px;
	left: 426px;
	transform: rotate(-33deg);
}
.triangle {
	top: 6px;
	left: 1031px;
	transform: rotate(123deg);
}

.theme {
	color: #FEFEFE;
}

.item:hover a {
	color: #dbdbdb;
}