@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Comfortaa', cursive; Для заговоков
   font-family: 'Nunito', sans-serif; Для обычного текста
*/
* {
	margin: 0;
}
html {
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

body {
	max-width: 1920px;
	max-height: 1080px;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.title {
	position: relative;
	/*margin: 30px 0 0 50px;*/
	padding: 100px/*30px 0 125px 20px*/;
	top: -20px;
}
.wrapper:before {
	content: "";
	width: 200%;
    height: 200%;
    top: 55px;
    left: 30px;
    z-index: -1;
    position: absolute;
    background: url(../svg/title_shape.svg) no-repeat;
    background-size: 370px auto;
}

}

.title h1, .title h2 {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	font-size: 20pt;
	font-weight: 300;
}
hr {
	height: 10px;
	width: 300px;
	border: 0;
}

.projects {
	margin: 50px 50px 0 50px;
}
.projects h2 {
	font-family: 'Comfortaa', cursive;
	font-weight: 600;
	margin-bottom: 50px;
}